.n-l1 {
  background-color: rgba(119, 119, 119, 0.5);
}

.box-group {
  width: 100%;
  max-width: 320px;
  border: 5px solid green;
  border-radius: 10px;
  margin: 5px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.b-g3 {
  border-color: #299CD5;
}
.b-g4 {
  border-color: #000000;
}
.ic_group {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.text-group {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}
.ig4 {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  padding: 10px;
}